<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="portfolio.project.gameon">
    <!-- Permissions for internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameOn"
        tools:targetApi="31">
        <activity
            android:name="portfolio.project.gameon.FeedbackForm"
            android:exported="false" />
        <activity
            android:name="portfolio.project.gameon.ForgotPassword"
            android:exported="false" />
        <activity
            android:name="portfolio.project.gameon.BookingScreen"
            android:exported="false" />
        <activity
            android:name="portfolio.project.gameon.CourtDetails"
            android:exported="false" />
        <activity
            android:name="portfolio.project.gameon.HomeScreen"
            android:exported="false" />
        <activity
            android:name="portfolio.project.gameon.BookingCourt"
            android:exported="false" />
        <activity
            android:name="portfolio.project.gameon.SignUpPage"
            android:exported="false" />
        <activity
            android:name="portfolio.project.gameon.UserProfile"
            android:exported="false" />
        <activity
            android:name="portfolio.project.gameon.LoginScreen"
            android:exported="false" />
        <activity
            android:name="portfolio.project.gameon.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>